<nav>
    <ul id="navbar">
        <li><a href="/" id="navbarlinks">Home</a></li>
        <li><a href="/beers" id="navbarlinks">Beers</a></li>
        <li><a href="/random-beer" id="navbarlinks">Random Beer</a></li>
    </ul>
</nav>
