<div id="containerhome">
  <img src="/images/beer.png" alt="beer" class="homebeerimage" />
  <a href="/beers" id="linkbeer">Check the Beers!</a> 
  <a href="/random-beer" id="linkbeer">Check a Random Beer</a>
</div>