{{#each responseFromAPI}}
{{> beerpartial this}}
<div id="randombeer">
    <h1 class="foodpairing">Food Pairing</h1>
    {{#each this.food_pairing}}
        <ul class="foodpairing">
            <li>{{this}}</li>
        </ul>
    {{/each}}
    <h1 class="brewerstips">Brewers Tips: {{this.brewers_tips}}</h1>
</div>
{{/each}}
